{% extends "base.html" %}

{% block analytics %}

<!-- Matomo Tag Manager -->
<script>
  var _mtm = window._mtm = window._mtm || [];
  _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
  (function() {
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src='https://matomo.elastisys.com/js/container_fGrcdd2P.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Tag Manager -->

{% endblock %}

{% block extrahead %}
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  style-src 'self' 'unsafe-inline';
  img-src 'self' data:;
  connect-src 'self' https://matomo.elastisys.com/;
  script-src 'self' 'unsafe-inline' https://matomo.elastisys.com/;
">

<!-- Disable localStorage, sessionStorage and cookies -->
<script>
if (window.localStorage) {
  window.localStorage.setItem = function() { };
  window.localStorage.clear();
}
if (window.sessionStorage) {
  window.sessionStorage.setItem = function() { }
  window.sessionStorage.clear();
}
if(!document.__defineGetter__) {
  Object.defineProperty(document, 'cookie', {
    get: function(){return ''},
    set: function(){return true},
  });
} else {
  document.__defineGetter__("cookie", function() { return '';} );
  document.__defineSetter__("cookie", function() {} );
}
</script>

<!-- See https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href="/welkin/img/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/welkin/img/favicon.svg" />
<link rel="shortcut icon" href="/welkin/img/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/welkin/img/apple-touch-icon.png" />
<link rel="manifest" href="/welkin/img/site.webmanifest" />
{% endblock %}

{% block announce %}
<div class="banner">
We're undergoing a transformation! We're rebranding our platform and changing the name from Compliant Kubernetes to Welkin. As we work on updating our documentation, there may be some temporary inconsistencies in how the platform is referred to. Thank you for your understanding. Read more about it in this <strong><a style="color: var(--elastisys-night-blue);"href="https://elastisys.com/elastisys-compliant-kubernetes-becomes-welkin/">press release</a></strong>.
</div>
{% endblock %}

<!-- Sidebars -->
{% block site_nav %}

  <!-- Navigation -->
  {% if nav %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "navigation" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--primary"
      data-md-component="sidebar"
      data-md-type="navigation"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/nav.html" %}
        </div>
      </div>
    </div>
  {% endif %}

  <!-- Table of contents -->
  {% if "toc.integrate" not in features %}
    {% if page.meta and page.meta.hide %}
      {% set hidden = "hidden" if "toc" in page.meta.hide %}
    {% endif %}
    <div
      class="md-sidebar md-sidebar--secondary"
      data-md-component="sidebar"
      data-md-type="toc"
      {{ hidden }}
    >
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          {% include "partials/toc.html" %}

          <br/>
          <div><img id="sidebar-welkin-logo" src="{{ base_url }}/img/logos/Welkin_maskot.svg"></div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
