{% extends "base.html" %}

{% block analytics %}

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.elastisys.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endblock %}

{% block extrahead %}
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  style-src 'self' 'unsafe-inline';
  img-src 'self' data:;
  connect-src 'self' https://matomo.elastisys.com/;
  script-src 'self' 'unsafe-inline' https://matomo.elastisys.com/;
">

<!-- Disable localStorage, sessionStorage and cookies -->
<script>
if (window.localStorage) {
  window.localStorage.setItem = function() { };
  window.localStorage.clear();
}
if (window.sessionStorage) {
  window.sessionStorage.setItem = function() { }
  window.sessionStorage.clear();
}
if(!document.__defineGetter__) {
  Object.defineProperty(document, 'cookie', {
    get: function(){return ''},
    set: function(){return true},
  });
} else {
  document.__defineGetter__("cookie", function() { return '';} );
  document.__defineSetter__("cookie", function() {} );
}
</script>

<!-- See https://realfavicongenerator.net -->
<link rel="apple-touch-icon" sizes="180x180" href="https://elastisys.io/compliantkubernetes/img/apple-touch-icon.png?v=1">
<link rel="icon" type="image/png" sizes="32x32" href="https://elastisys.io/compliantkubernetes/img/favicon-32x32.png?v=1">
<link rel="icon" type="image/png" sizes="16x16" href="https://elastisys.io/compliantkubernetes/img/favicon-16x16.png?v=1">
<link rel="manifest" href="https://elastisys.io/compliantkubernetes/img/site.webmanifest?v=1">
<link rel="mask-icon" href="https://elastisys.io/compliantkubernetes/img/safari-pinned-tab.svg?v=1" color="#5bbad5">
<link rel="shortcut icon" href="https://elastisys.io/compliantkubernetes/img/favicon.ico?v=1">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="https://elastisys.io/compliantkubernetes/img/browserconfig.xml?v=1">
<meta name="theme-color" content="#ffffff">
{% endblock %}
