{% extends "base.html" %}

{% block analytics %}

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.elastisys.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endblock %}

{% block extrahead %}
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  img-src 'self' data:;
  connect-src 'self' https://matomo.elastisys.com/ https://api.github.com/;
  script-src 'self' 'unsafe-inline';
">
{% endblock %}
