@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.otf") format("opentype");
}

.md-typeset {
  font-family: "Roboto",sans-serif;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
  font-family: "Poppins",sans-serif;
  color: var(--esys-blue-01);
}

.md-nav__title, .md-header-nav__title, .md-footer-nav__title {
  font-family: "Poppins",sans-serif;
}

.md-header__topic:first-child {
  font-weight: 300;
}

[data-md-color-scheme="elastisys"] {
  --esys-blue-01: #202836;
  --esys-blue-02: #334768;
  --esys-blue-03: #536582;
  --esys-blue-04: #A7B1BF;

  --esys-orange-01: #A86535;
  --esys-orange-02: #AE8465;
  --esys-orange-03: #DF8645;
  --esys-orange-04: #E7AF86;

  --esys-gray-01: #423E57;
  --esys-gray-02: #716E81;
  --esys-gray-03: #9CA4C0;
  --esys-gray-04: #BEC3D6;

  --md-default-bg-color: #f9f9f9;

  --md-primary-fg-color: var(--esys-blue-02);
  --md-primary-fg-color--light: var(--esys-blue-03);
  --md-primary-fg-color--dark: var(--esys-blue-01);

  --md-accent-fg-color: var(--esys-orange-02);
  --md-accent-fg-color--light: var(--esys-orange-03);
  --md-accent-fg-color--dark: var(--esys-orange-01);

  --md-footer-bg-color: var(--md-primary-fg-color);

  --md-typeset-a-color: var(--esys-orange-03);
}
