/* Regular */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
       url('../fonts/poppins/Poppins-Regular.woff') format('woff');
}

/* SemiBold */
@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
       url('../fonts/poppins/Poppins-SemiBold.woff') format('woff');
}

/* Bold */
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
       url('../fonts/poppins/Poppins-Bold.woff') format('woff');
}

/* Italic */
@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/poppins/Poppins-Italic.woff2') format('woff2'),
       url('../fonts/poppins/Poppins-Italic.woff') format('woff');
}

/* Bold Italic */
@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/poppins/Poppins-BoldItalic.woff2') format('woff2'),
       url('../fonts/poppins/Poppins-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  src: url('../fonts/robotomono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  src: url('../fonts/robotomono/RobotoMono-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter/Inter-VariableFont_slnt,wght.ttf');
}

:root {
  --elastisys-headings-font: Poppins, Arial, sans-serif;
  --elastisys-headings-weight: 600; /* SemiBold */

  --elastisys-text-font: Inter, Arial, sans-serif;
  --elastisys-text-weight: 300; /* Light */

  --elastisys-details-font: "Roboto Mono", "Courier New", courier;
  --elastisys-details-weight: 400; /* Regular */

  --elastisys-sky-blue: #B8D2FF;
  --elastisys-sky-blue-dark: #97BEFC;
  --elastisys-snow: #F7F1ED;
  --elastisys-snow-light: #FFFBF9;
  --elastisys-midnight: #3D516E;
  --elastisys-midnight-dark: #303B54;
  --elastisys-northern-lights-1: #CBFF8B;
  --elastisys-northern-lights-2: #22A472;
  --elastisys-northern-lights-3: #FB8FFC;
  --elastisys-midnight-sun: #FF9042;
  --elastisys-night-blue: #192131;

  --esys-blue-01: #202836;
  --esys-blue-02: #334768;
  --esys-blue-03: #536582;
  --esys-blue-04: #A7B1BF;

  --esys-orange-01: #A86535;
  --esys-orange-02: #AE8465;
  --esys-orange-03: #DF8645;
  --esys-orange-04: #E7AF86;

  --esys-gray-01: #423E57;
  --esys-gray-02: #716E81;
  --esys-gray-03: #9CA4C0;
  --esys-gray-04: #BEC3D6;
}

.md-typeset {
  font-family: var(--elastisys-text-font);
  font-weight: var(--elastisys-text-weight);
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
  font-family: var(--elastisys-headings-font);
  font-weight: var(--elastisys-headings-weight);
  color: var(--esys-blue-01);
}

.md-nav__title, .md-header-nav__title, .md-footer-nav__title {
  font-family: var(--elastisys-headings-font);
  font-weight: var(--elastisys-headings-weight);
}

.md-header__topic:first-child {
  font-weight: 300;
}

[data-md-color-scheme="elastisys"] {
  --md-default-bg-color: #f9f9f9;

  --md-primary-fg-color: var(--esys-blue-02);
  --md-primary-fg-color--light: var(--esys-blue-03);
  --md-primary-fg-color--dark: var(--esys-blue-01);

  --md-accent-fg-color: var(--esys-orange-02);
  --md-accent-fg-color--light: var(--esys-orange-03);
  --md-accent-fg-color--dark: var(--esys-orange-01);

  --md-footer-bg-color: var(--md-primary-fg-color);

  --md-typeset-a-color: var(--esys-orange-03);
}
