.hero-text {
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
}

.menu-callout {
  background-color: var(--esys-orange-01);
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  font-family: 'Poppins', sans-serif;
}

.menu-callout:hover {
  background-color: var(--esys-orange-04);
}

.header-links {
    display: block;
    list-style-type: none;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding: 0;
    padding-inline-start: 0;
}

.header-links li {
    display: inline;
}

header .header-links li {
    margin-left: 2em;
}

.header-links li:first-child {
    margin-left: 0px;
}
